h1 { 
    color: #48d1cc;
    text-align:center;
    margin-bottom: 1em;
}

h2 {
    color: #b0e0e6;
    border-left : 4px solid #b0e0e6;
    padding:0.5em;
    margin-top: 1.5em;
}

p {
    text-align: left;
    margin: 1.5em 3em;
    padding: 0.5em; 
}

nav{
    text-align: center;
}

body{
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #666;
}

a:link {
    color: blue 
}

a:visited {
    color: purple 
}

a:active {
    color: aqua 
}

a:hover {
    color: pink 
}
